*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #2c3e50;
  background: #f8f8f8;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-wrapper {
  @apply h-full md:h-fit w-full md:w-[50vw] lg:w-[35vw] xl:w-[25vw] flex flex-col gap-2 bg-white p-4 rounded-md md:shadow-lg;
}

.auth-form-input {
  @apply text-sm border-b py-1 placeholder:italic hover:border-indigo-300 transition-colors focus:outline-none focus:border-indigo-600;
}